# Database driver
propel.database = mysql
propel.database.url = mysql:host=localhost;dbname=code2be
propel.database.user = root
propel.database.password =

# Project name
propel.project = code2be

propel.output.dir = ${propel.project.dir}/../lib/Code2be/Model
propel.php.dir = ${propel.output.dir}
propel.targetPackage =

propel.phpconf.dir = ${propel.project.dir}

propel.sql.dir = ${propel.project.dir}/../data/sql

propel.runtime.phpconf.file = ${propel.project}-conf.php
propel.runtime.phpconf-classmap.file = ${propel.project}-classmap.php

# Add your custom behavior paths here
propel.behavior.blamable.class = ${propel.project.dir}/../lib.Code2be\Propel\Behavior\BlamableBehavior
