{% extends "layout.html.twig" %}
{% block body %}

<div class="jumbotron">
  <h1>Code2be Inside</h1>
  <p>L'Application interne des membres de Code2be. <br />
     N'hésitez pas à vous rendre dans la boite à idée pour préparer les prochaines rencontres.</p>
   <p><a class="btn btn-primary btn-lg" href=" {{ urlFor('ideaBox') }}" role="button">Boîte à Idées</a></p>
</div>

{% endblock %}
