<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code2be Inside</title>
  {% for css in assets.getStylesheets %}
    <link href="{{css}}" rel="stylesheet">
  {% endfor %}
</head>
<body>
  <header>
    {% block menu %}
      {% include '_menu.html.twig' %}
    {% endblock %}
  </header>
  <div class="container">
    {% block body %}

    {% endblock %}
  </div>
  <footer>

  </footer>

  {% for js in assets.getJavascripts %}
    <script type="text/javascript" src="{{js}}"></script>
  {% endfor %}
</body>
</html>


